.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/
doc/
mkdocs.yml
eslint.config.js

# Build artifacts and tools
node_modules/**
out/test/**
esbuild.mjs

# Package files
*.vsix
*.zip
